In [122]:
import pandas as pd
import numpy as np
pd.read_csv('forbes_global_2010_2014.csv')

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank,forbeswebpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...
...,...,...,...,...,...,...,...,...,...,...,...
95,CVS Caremark,Consumer Staples,Drug Retail,North America,United States,87.8,126.8,4.6,71.5,96,http://www.forbes.com/companies/cvs-caremark/
96,ING Group,Financials,Life & Health Insurance,Europe,Netherlands,56.1,34.5,4.4,1488.7,97,http://www.forbes.com/companies/ing-group/
97,Saudi Basic Industries,Materials,Diversified Chemicals,Asia,Saudi Arabia,94.4,50.4,6.7,90.4,98,http://www.forbes.com/companies/saudi-basic-in...
98,Merck & Co,Health Care,Pharmaceuticals,North America,United States,165.8,44.1,4.4,105.6,99,http://www.forbes.com/companies/merck-co/
99,Walt Disney,Consumer Discretionary,Broadcasting & Cable,North America,United States,142.9,46.0,6.6,83.2,100,http://www.forbes.com/companies/walt-disney/

## Most Profitable Companies

Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

In [ ]:
# create a table sort value by 'profits'
df.sort_values(by='profits',ascending=False)

In [79]:
# filter 3 row and 3 columns from the aboves dataframe
(df.sort_values(by='profits',ascending=False)).iloc[0:3,[0,-4]]

    company  profits
0      ICBC     42.7
20  Gazprom     39.0
14    Apple     37.0

## Find the most popular sector in the Forbes list

In [2]:
df = pd.read_csv('forbes_global_2010_2014.csv')

In [72]:
# solution with groupby function
df.groupby('sector')['sector'].count()

sector
Consumer Discretionary        11
Consumer Staples               6
Energy                        14
Financials                    37
Health Care                    7
Industrials                    4
Information Technology         9
Materials                      3
Telecommunication Services     7
Utilities                      2
Name: sector, dtype: int64

In [81]:
# solution with value_counts syntax
df.sector.value_counts()

Financials                    37
Energy                        14
Consumer Discretionary        11
Information Technology         9
Telecommunication Services     7
Health Care                    7
Consumer Staples               6
Industrials                    4
Materials                      3
Utilities                      2
Name: sector, dtype: int64

## Find the most profitable company in the financial sector of the entire world along with its continent

In [ ]:
# filter the dataframe with 'Financials' in Sector
df[df.sector=='Financials']

In [16]:
# sort values by profit in descending
df[df.sector=='Financials'].sort_values(by='profits',ascending=False)

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank,forbeswebpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
8,Bank of China,Financials,Major Banks,Asia,China,124.2,105.1,25.5,2291.8,9,http://www.forbes.com/companies/bank-of-china/
7,Wells Fargo,Financials,Major Banks,North America,United States,261.4,88.7,21.9,1543.0,8,http://www.forbes.com/companies/wells-fargo/
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
13,HSBC Holdings,Financials,Major Banks,Europe,United Kingdom,192.6,79.6,16.3,2671.3,14,http://www.forbes.com/companies/hsbc-holdings/
15,Citigroup,Financials,Major Banks,North America,United States,145.1,94.1,13.4,1883.4,16,http://www.forbes.com/companies/citigroup/
12,Bank of America,Financials,Major Banks,North America,United States,183.3,101.5,11.4,2113.8,13,http://www.forbes.com/companies/bank-of-america/
57,Sberbank,Financials,Regional Banks,Asia,Russia,51.5,56.5,11.4,554.2,58,http://www.forbes.com/companies/sberbank/
36,Mitsubishi UFJ Financial,Financials,Major Banks,Asia,Japan,77.7,48.6,11.3,2458.9,37,http://www.forbes.com/companies/mitsubishi-ufj...
64,Bank of Communications,Financials,Major Banks,Asia,China,48.7,46.6,10.1,942.2,65,http://www.forbes.com/companies/bank-of-commun...
55,Sumitomo Mitsui Financial,Financials,Major Banks,Asia,Japan,58.6,46.2,9.7,1494.7,56,http://www.forbes.com/companies/sumitomo-mitsu...
41,American International Group,Financials,Diversified Insurance,North America,United States,73.2,68.1,9.1,540.7,42,http://www.forbes.com/companies/american-inter...
58,Goldman Sachs Group,Financials,Investment Services,North America,United States,75.1,39.5,8.0,911.5,59,http://www.forbes.com/companies/goldman-sachs-...
54,Royal Bank of Canada,Financials,Major Banks,North America,Canada,95.7,37.8,8.0,811.4,55,http://www.forbes.com/companies/royal-bank-of-...
26,Allianz,Financials,Diversified Insurance,Europe,Germany,77.2,131.4,8.0,963.1,27,http://www.forbes.com/companies/allianz/
48,Commonwealth Bank,Financials,Major Banks,Australia,Australia,114.5,41.5,7.9,699.9,49,http://www.forbes.com/companies/commonwealth-b...
45,ItaÃº Unibanco Holding,Financials,Major Banks,South America,Brazil,74.9,67.2,7.6,435.4,46,http://www.forbes.com/companies/itau-unibanco-...
59,Westpac Banking Group,Financials,Major Banks,Australia,Australia,99.0,38.4,6.8,651.4,60,http://www.forbes.com/companies/westpac-banking/
75,TD Bank Group,Financials,Major Banks,North America,Canada,86.2,31.3,6.6,815.2,76,http://www.forbes.com/companies/td-bank-group/
23,BNP Paribas,Financials,Major Banks,Europe,France,98.6,123.2,6.4,2480.5,24,http://www.forbes.com/companies/bnp-paribas/
94,Bank of Nova Scotia,Financials,Major Banks,North America,Canada,71.2,27.7,6.3,702.1,95,http://www.forbes.com/companies/bank-of-nova-s...
74,ANZ,Financials,Major Banks,Australia,Australia,83.9,34.0,6.2,659.7,75,http://www.forbes.com/companies/anz/
32,AXA Group,Financials,Diversified Insurance,Europe,France,63.4,138.9,6.0,1018.9,33,http://www.forbes.com/companies/axa-group/
42,Banco Santander,Financials,Major Banks,Europe,Spain,112.3,52.5,5.8,1537.3,43,http://www.forbes.com/companies/banco-santander/
62,Banco Bradesco,Financials,Regional Banks,South America,Brazil,58.5,74.1,5.6,384.9,63,http://www.forbes.com/companies/banco-bradesco/
73,National Australia Bank,Financials,Major Banks,Australia,Australia,75.3,36.9,5.4,755.9,74,http://www.forbes.com/companies/national-austr...
61,Ping An Insurance Group,Financials,Diversified Insurance,Asia,China,66.1,59.0,4.6,552.8,62,http://www.forbes.com/companies/ping-an-insura...
91,Munich Re,Financials,Diversified Insurance,Europe,Germany,38.9,88.0,4.4,343.1,92,http://www.forbes.com/companies/munich-re/
96,ING Group,Financials,Life & Health Insurance,Europe,Netherlands,56.1,34.5,4.4,1488.7,97,http://www.forbes.com/companies/ing-group/
84,Zurich Insurance Group,Financials,Diversified Insurance,Europe,Switzerland,45.8,71.9,4.0,397.1,84,http://www.forbes.com/companies/zurich-insuran...
65,China Life Insurance,Financials,Life & Health Insurance,Asia,China,79.8,68.4,4.0,327.2,66,http://www.forbes.com/companies/china-life-ins...
78,UBS,Financials,Investment Services,Europe,Switzerland,81.0,39.7,3.4,1135.5,79,http://www.forbes.com/companies/ubs/
68,MetLife,Financials,Diversified Insurance,North America,United States,60.0,71.0,3.4,885.3,69,http://www.forbes.com/companies/metlife/
88,Credit Agricole,Financials,Major Banks,Europe,France,41.0,65.3,3.3,2117.7,89,http://www.forbes.com/companies/credit-agricole/

In [42]:
# top 5 most profitable company in the financial sector of the entire world
df[df.sector=='Financials'].sort_values(by='profits',ascending=False).iloc[0:6,[0,3,4,6,7,8]]

,company,continent,country,sales,profits,assets
0,ICBC,Asia,China,148.7,42.7,3124.9
1,China Construction Bank,Asia,China,121.3,34.2,2449.5
2,Agricultural Bank of China,Asia,China,136.4,27.0,2405.4
8,Bank of China,Asia,China,105.1,25.5,2291.8
7,Wells Fargo,North America,United States,88.7,21.9,1543.0
4,Berkshire Hathaway,North America,United States,178.8,19.5,493.4

## Find the most profitable company in the financial sector of each continent

In [27]:
# create a table filter with Financials sector and sort by profit in descending
df1= df[df.sector=='Financials'].sort_values(by='profits',ascending=False)

In [28]:
# create a max profit of each continent
df1.profits==(df1.groupby('continent').transform(max))['profits']

0      True
1     False
2     False
8     False
7      True
4     False
3     False
13     True
15    False
12    False
57    False
36    False
64    False
55    False
41    False
58    False
54    False
26    False
48     True
45     True
59    False
75    False
23    False
94    False
74    False
32    False
42    False
62    False
73    False
61    False
91    False
96    False
84    False
65    False
78    False
68    False
88    False
Name: profits, dtype: bool

In [29]:
# final solution
df1[df1.profits==(df1.groupby('continent').transform(max))['profits']]

,company,sector,industry,continent,country,marketvalue,sales,profits,assets,rank,forbeswebpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
7,Wells Fargo,Financials,Major Banks,North America,United States,261.4,88.7,21.9,1543.0,8,http://www.forbes.com/companies/wells-fargo/
13,HSBC Holdings,Financials,Major Banks,Europe,United Kingdom,192.6,79.6,16.3,2671.3,14,http://www.forbes.com/companies/hsbc-holdings/
48,Commonwealth Bank,Financials,Major Banks,Australia,Australia,114.5,41.5,7.9,699.9,49,http://www.forbes.com/companies/commonwealth-b...
45,ItaÃº Unibanco Holding,Financials,Major Banks,South America,Brazil,74.9,67.2,7.6,435.4,46,http://www.forbes.com/companies/itau-unibanco-...

## Find industries with the highest number of companies. Output the industry along with the number of companies. Sort records based on the number of companies in descending order.

Find the most popular sector from the Forbes list based on the number of companies in each sector.
Output the sector along with the number of companies.

In [74]:
df.industry.value_counts()

Major Banks                     21
Oil & Gas Operations            14
Auto & Truck Manufacturers       8
Telecommunications services      7
Diversified Insurance            7
Pharmaceuticals                  5
Regional Banks                   4
Conglomerates                    3
Investment Services              3
Beverages                        3
Computer Hardware                2
Semiconductors                   2
Life & Health Insurance          2
Software & Programming           2
Computer Services                2
Diversified Chemicals            2
Electric Utilities               2
Broadcasting & Cable             2
Managed Health Care              1
Aerospace & Defense              1
Communications Equipment         1
Food Processing                  1
Diversified Metals & Mining      1
Medical Equipment & Supplies     1
Household/Personal Care          1
Discount Stores                  1
Drug Retail                      1
Name: industry, dtype: int64

In [75]:
# rename 2 two columns
df.industry.value_counts().reset_index().rename(columns={'index':'industry','industry':'number of companies'})

                        industry  number of companies
0                    Major Banks                   21
1           Oil & Gas Operations                   14
2     Auto & Truck Manufacturers                    8
3    Telecommunications services                    7
4          Diversified Insurance                    7
5                Pharmaceuticals                    5
6                 Regional Banks                    4
7                  Conglomerates                    3
8            Investment Services                    3
9                      Beverages                    3
10             Computer Hardware                    2
11                Semiconductors                    2
12       Life & Health Insurance                    2
13        Software & Programming                    2
14             Computer Services                    2
15         Diversified Chemicals                    2
16            Electric Utilities                    2
17          Broadcasting & Cable                    2
18           Managed Health Care                    1
19           Aerospace & Defense                    1
20      Communications Equipment                    1
21               Food Processing                    1
22   Diversified Metals & Mining                    1
23  Medical Equipment & Supplies                    1
24       Household/Personal Care                    1
25               Discount Stores                    1
26                   Drug Retail                    1

## Find industries that make a profit

Find all industries with a positive average profit. For those industries extract their lowest sale.
Output the industry along with the corresponding lowest sale and average profit.
Sort the output based on the lowest sales in ascending order.

In [125]:
(df.groupby(['industry']).agg({'profits':np.mean,'sales':np.min})).rename(columns={'profits':'avg profit','sales':'min sale of industry'})

                              avg profit  min sale of industry
industry
Aerospace & Defense             4.600000                  86.6
Auto & Truck Manufacturers      9.025000                  79.8
Beverages                       9.900000                  43.2
Broadcasting & Cable            6.700000                  46.0
Communications Equipment        8.200000                  47.9
Computer Hardware              21.150000                 112.1
Computer Services              14.350000                  59.7
Conglomerates                   8.833333                  62.7
Discount Stores                16.000000                 476.5
Diversified Chemicals           6.550000                  50.4
Diversified Insurance           5.642857                  59.0
Diversified Metals & Mining    14.800000                  67.7
Drug Retail                     4.600000                 126.8
Electric Utilities              4.400000                 100.4
Food Processing                10.800000                  99.4
Household/Personal Care        10.900000                  84.7
Investment Services            10.300000                  39.5
Life & Health Insurance         4.200000                  34.5
Major Banks                    11.900000                  27.7
Managed Health Care             5.600000                 122.5
Medical Equipment & Supplies   13.800000                  71.3
Oil & Gas Operations           16.471429                  55.6
Pharmaceuticals                10.500000                  43.7
Regional Banks                 19.550000                  56.5
Semiconductors                 18.400000                  52.7
Software & Programming         16.950000                  37.9
Telecommunications services    14.128571                  55.6

## Find the country that has the most companies listed on Forbes

Find the country that has the most companies listed on Forbes.

Output the country along with the number of companies.

In [85]:
df.country.value_counts()

United States     37
China              9
Germany            7
Japan              6
France             6
Switzerland        5
Australia          5
Russia             4
Canada             3
United Kingdom     3
Brazil             3
Netherlands        2
South Korea        2
Italy              2
Spain              2
Belgium            1
Hong Kong          1
Norway             1
Saudi Arabia       1
Name: country, dtype: int64

In [93]:
## Find the country the assets of top 100 by countries
(df.groupby('country')['assets'].sum()).reset_index().sort_values(by='assets',ascending=False)

           country   assets
18   United States  15605.7
4            China  12709.1
5           France   6342.5
9            Japan   4832.9
17  United Kingdom   3212.6
0        Australia   2917.9
6          Germany   2404.8
3           Canada   2328.7
16     Switzerland   1864.2
10     Netherlands   1846.2
15           Spain   1701.1
12          Russia   1290.2
2           Brazil   1139.5
8            Italy    412.8
14     South Korea    329.2
7        Hong Kong    192.8
11          Norway    146.0
1          Belgium    141.7
13    Saudi Arabia     90.4