In [2]:
import pandas as pd
import numpy as np
pd.read_csv('videos_watched.csv')
q = pd.read_csv('videos_watched.csv')

# First Three Most Watched Videos

After a new user creates an account and starts watching videos, the user ID, video ID, and date watched are captured in the database. Find the top 3 videos most users have watched as their first 3 videos. Output the video ID and the number of times it has been watched as the users' first 3 videos.

In [46]:
# change type of 'watched_at' column
q.watched_at.apply(pd.to_datetime)
q.watched_at = q.watched_at.apply(pd.to_datetime)

In [84]:
# grouup by 'video_id' & 'user_id' and keep the earliest 'watched_at'
q.groupby(['video_id','user_id'])['watched_at'].min().reset_index()

   video_id user_id          watched_at
0    vid001   uid01 2022-08-03 12:00:00
1    vid001   uid02 2022-08-10 12:30:00
2    vid001   uid03 2022-08-10 07:00:00
3    vid001   uid04 2022-08-01 17:00:00
4    vid001   uid09 2022-08-13 07:00:00
5    vid001   uid10 2022-08-15 20:00:00
6    vid002   uid01 2022-08-03 09:00:00
7    vid002   uid02 2022-08-01 07:00:00
8    vid002   uid03 2022-08-01 10:00:00
9    vid002   uid04 2022-08-12 22:00:00
10   vid002   uid07 2022-08-01 20:00:00
11   vid002   uid08 2022-08-14 07:00:00
12   vid002   uid09 2022-08-02 16:00:00
13   vid002   uid10 2022-08-02 07:00:00
14   vid003   uid01 2022-08-10 14:30:00
15   vid003   uid02 2022-08-01 12:00:00
16   vid003   uid03 2022-08-01 07:00:00
17   vid003   uid04 2022-08-04 07:00:00
18   vid003   uid05 2022-08-04 22:00:00
19   vid003   uid07 2022-08-05 17:00:00
20   vid003   uid08 2022-08-02 07:00:00
21   vid003   uid10 2022-08-02 18:00:00
22   vid004   uid01 2022-08-01 07:00:00
23   vid004   uid02 2022-08-01 09:00:00
24   vid004   uid03 2022-08-01 13:00:00
25   vid004   uid04 2022-08-13 22:00:00
26   vid004   uid05 2022-08-04 09:00:00
27   vid004   uid06 2022-08-02 14:00:00
28   vid004   uid08 2022-08-02 17:00:00
29   vid004   uid09 2022-08-05 07:00:00
30   vid004   uid10 2022-08-02 22:00:00
31   vid005   uid01 2022-08-03 10:00:00
32   vid005   uid02 2022-08-12 07:00:00
33   vid005   uid03 2022-08-10 10:00:00
34   vid005   uid04 2022-08-10 06:00:00
35   vid005   uid05 2022-08-01 07:00:00
36   vid005   uid08 2022-08-02 10:00:00
37   vid005   uid09 2022-08-05 10:00:00
38   vid006   uid01 2022-08-12 07:00:00
39   vid006   uid02 2022-08-10 10:00:00
40   vid006   uid03 2022-08-12 13:00:00
41   vid006   uid09 2022-08-15 07:00:00
42   vid007   uid03 2022-08-15 08:00:00

In [89]:
# Final result:
qq = q.groupby(['video_id','user_id'])['watched_at'].min().reset_index()
qq.groupby(['video_id'])['user_id'].count().reset_index().sort_values(by='user_id',ascending=False)

  video_id  user_id
3   vid004        9
1   vid002        8
2   vid003        8
4   vid005        7
0   vid001        6
5   vid006        4
6   vid007        1

In [78]:
# pivot table to check again the result
pd.pivot_table(q,index='user_id',columns='video_id',aggfunc={'watched_at':np.max}).reset_index()

         user_id          watched_at                                          \
video_id                      vid001              vid002              vid003
0          uid01 2022-08-03 12:00:00 2022-08-03 09:00:00 2022-08-10 14:30:00
1          uid02 2022-08-10 12:30:00 2022-08-01 07:00:00 2022-08-01 12:00:00
2          uid03 2022-08-10 07:00:00 2022-08-01 10:00:00 2022-08-01 07:00:00
3          uid04 2022-08-04 13:00:00 2022-08-12 22:00:00 2022-08-04 07:00:00
4          uid05                 NaT                 NaT 2022-08-12 12:00:00
5          uid06                 NaT                 NaT                 NaT
6          uid07                 NaT 2022-08-05 10:00:00 2022-08-15 14:00:00
7          uid08                 NaT 2022-08-14 07:00:00 2022-08-02 07:00:00
8          uid09 2022-08-13 07:00:00 2022-08-02 16:00:00                 NaT
9          uid10 2022-08-15 20:00:00 2022-08-13 08:00:00 2022-08-02 18:00:00

                                                                      \
video_id              vid004              vid005              vid006
0        2022-08-01 07:00:00 2022-08-10 17:00:00 2022-08-12 07:00:00
1        2022-08-01 09:00:00 2022-08-12 07:00:00 2022-08-10 10:00:00
2        2022-08-01 13:00:00 2022-08-10 10:00:00 2022-08-12 13:00:00
3        2022-08-13 22:00:00 2022-08-10 06:00:00                 NaT
4        2022-08-04 09:00:00 2022-08-01 07:00:00                 NaT
5        2022-08-02 14:00:00                 NaT                 NaT
6                        NaT                 NaT                 NaT
7        2022-08-02 17:00:00 2022-08-02 10:00:00                 NaT
8        2022-08-05 07:00:00 2022-08-13 15:00:00 2022-08-15 07:00:00
9        2022-08-13 19:00:00                 NaT                 NaT


video_id              vid007
0                        NaT
1                        NaT
2        2022-08-15 08:00:00
3                        NaT
4                        NaT
5                        NaT
6                        NaT
7                        NaT
8                        NaT
9                        NaT