# Import libraries and view dataset

In [1]:
import pandas as pd
import numpy as np
q=pd.read_csv('sf_public_salaries.csv')
pd.set_option('display.max_rows',500)

# Find the top 3 jobs with the highest overtime pay rate

Get the job titles of the 3 employees who received the most overtime pay
Output the job title of selected records.

In [2]:
q.groupby('jobtitle')['overtimepay'].mean().reset_index().iloc[0:3,]

                          jobtitle   overtimepay
0  CAPTAIN III (POLICE DEPARTMENT)  19125.744000
1                   Deputy Sheriff   4223.953333
2        EMT/Paramedic/Firefighter   4640.401250

# Find the base pay for Police Captains
Find the base pay for Police Captains.
Output the employee name along with the corresponding base pay.

In [3]:
# first solution:
q[q.jobtitle.str.contains('CAPTAIN')].iloc[:,0:4]

      id       employeename                         jobtitle    basepay
195   12   PATRICIA JACKSON  CAPTAIN III (POLICE DEPARTMENT)   99722.00
196  371     TERESA BARRETT  CAPTAIN III (POLICE DEPARTMENT)  188328.08
197   62         ANNA BROWN  CAPTAIN III (POLICE DEPARTMENT)  102571.24
198  304  DOUGLAS MCEACHERN  CAPTAIN III (POLICE DEPARTMENT)  194566.01
199  367        JOHN LOFTUS  CAPTAIN III (POLICE DEPARTMENT)  188341.62

In [4]:
# second solution:
q.loc[q.jobtitle.str.contains('CAPTAIN'),['id','employeename','jobtitle','basepay']]

      id       employeename                         jobtitle    basepay
195   12   PATRICIA JACKSON  CAPTAIN III (POLICE DEPARTMENT)   99722.00
196  371     TERESA BARRETT  CAPTAIN III (POLICE DEPARTMENT)  188328.08
197   62         ANNA BROWN  CAPTAIN III (POLICE DEPARTMENT)  102571.24
198  304  DOUGLAS MCEACHERN  CAPTAIN III (POLICE DEPARTMENT)  194566.01
199  367        JOHN LOFTUS  CAPTAIN III (POLICE DEPARTMENT)  188341.62

# Median Job Salaries
Find the median total pay for each job. Output the job title and the corresponding total pay, and sort the results from highest total pay to lowest.

In [5]:
q.groupby('jobtitle')['totalpay'].mean()

jobtitle
CAPTAIN III (POLICE DEPARTMENT)                   223704.162000
Deputy Sheriff                                     91534.904444
EMT/Paramedic/Firefighter                          70794.098750
Eligibility Worker                                 16092.579091
Estate Investigator                                76064.420000
Firefighter                                        12254.018000
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
IS Programmer Analyst                              67667.550000
IS Programmer Analyst-Senior                       72045.400000
Junior Administrative Analyst                      54825.753333
LIBRARY PAGE                                       17064.420000
PS Aide Health Services                             8928.120000
Public Service Trainee                               670.530000
Public Svc Aide-Public Works                        1704.151739
Registered Nurse                                   32153.655714
SENIOR PHYSICIAN SPECIALIST                       178760.580000
Senior Eligibility Worker                          69590.300000
Sergeant 3                                        147999.826250
Special Nurse                                        987.173913
Transit Operator                                    9489.397872
Name: totalpay, dtype: float64

#  'METROPOLITAN TRANSIT AUTHORITY' Employees
Find all employees with a job title that contains 'METROPOLITAN TRANSIT AUTHORITY' and output the employee's name along with the corresponding total pay with benefits.

In [6]:
q[q.jobtitle.str.contains('METROPOLITAN TRANSIT AUTHORITY')].iloc[:,0:-4]

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits
193,84,EDWARD REISKIN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,230827.12,0.0,0.00,NaN,230827.12,230827.12
194,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43

# Find job titles which had 0 hours of overtime
Find job titles that had 0 hours of overtime.
Output unique job title names.

In [7]:
q[q.overtimepay==0].jobtitle.unique()

array(['EMT/Paramedic/Firefighter', 'Public Service Trainee',
       'Firefighter', 'Public Svc Aide-Public Works', 'Registered Nurse',
       'Transit Operator', 'Special Nurse', 'Estate Investigator',
       'Deputy Sheriff', 'Eligibility Worker',
       'Junior Administrative Analyst', 'IS Programmer Analyst',
       'Senior Eligibility Worker', 'PS Aide Health Services',
       'IS Programmer Analyst-Senior', 'SENIOR PHYSICIAN SPECIALIST',
       'LIBRARY PAGE', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)'], dtype=object)

# Benefits Of Employees Called Patrick
Find benefits that people with the name 'Patrick' have.
Output the employee name along with the corresponding benefits.

In [8]:
q[q.employeename.str.contains('Patrick')].iloc[:,0:-4]

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits
183,147636,Russell Patrick Mangahas,Special Nurse,0.00,0.00,1153.78,277.75,1153.78,1431.53
184,110161,Patrick F Mcpartland,Public Service Trainee,501.13,0.00,0.00,5.01,501.13,506.14
185,47639,Patrick Crane,Deputy Sheriff,84356.51,5334.96,5764.75,34143.72,95456.22,129599.94
186,51908,Patrick Martinez,Estate Investigator,77454.00,0.00,0.00,33194.97,77454.00,110648.97
187,85769,Patrick T Truong,Deputy Sheriff,86758.90,877.32,6484.64,31360.09,94120.86,125480.95
188,115360,Patrick Kennedy,Sergeant 3,124770.11,4709.34,8031.28,40093.21,137510.73,177603.94
189,109179,Emilia C Patrick,Special Nurse,1824.38,0.00,0.00,373.71,1824.38,2198.09
190,125793,Patrick S Renshaw,EMT/Paramedic/Firefighter,72637.09,6033.40,5105.38,30691.14,83775.87,114467.01
191,133413,Emilia C Patrick,Registered Nurse,65992.60,0.00,296.70,21067.97,66289.30,87357.27
192,121116,Patrick T Truong,Deputy Sheriff,90269.00,4330.78,7372.09,34506.78,101971.87,136478.65

# Highest Paid City Employees

Find the top 2 highest paid City employees for each job title. Output the job title along with the corresponding highest and second-highest paid employees.

In [9]:
q.groupby('jobtitle').totalpay.sum().reset_index().nlargest(2,'totalpay')

          jobtitle    totalpay
1   Deputy Sheriff  1647628.28
17      Sergeant 3  1183998.61

# Overtime Pay


Find the employee who earned most from working overtime. Output the employee name.

In [10]:
# first solution:
q.nlargest(3,'overtimepay')

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status
195,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
101,46516,Petra Hahn,Deputy Sheriff,78353.8,22953.71,1062.13,32704.29,102369.64,135073.93,2012,NaN,San Francisco,NaN
58,120469,Alexander M Lamond,EMT/Paramedic/Firefighter,80143.0,19393.40,6783.04,33498.66,106319.44,139818.10,2014,NaN,San Francisco,FT

In [11]:
# second solution:
q.sort_values(by='overtimepay',ascending=False).iloc[0:3,:]

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status
195,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
101,46516,Petra Hahn,Deputy Sheriff,78353.8,22953.71,1062.13,32704.29,102369.64,135073.93,2012,NaN,San Francisco,NaN
58,120469,Alexander M Lamond,EMT/Paramedic/Firefighter,80143.0,19393.40,6783.04,33498.66,106319.44,139818.10,2014,NaN,San Francisco,FT

#  Employees Without Benefits
Find the ratio between the number of employees without benefits to total employees. Output the job title, number of employees without benefits, total employees relevant to that job title, and the corresponding ratio. Order records based on the ratio in ascending order.

In [12]:
q1=q[q.benefits==0].groupby('jobtitle')['id'].count().reset_index()
q2=q[q.benefits!=0].groupby('jobtitle')['id'].count().reset_index()
q3=pd.merge(q1,q2,on='jobtitle',how='left').rename(columns={'id_x':'without_benefits','id_y':'with_benefits'})
q3['ratio']=(100*q3['without_benefits']/q3['with_benefits']).round(2)
q3

           jobtitle  without_benefits  with_benefits  ratio
0    Deputy Sheriff                 1             17   5.88
1       Firefighter                 1              4  25.00
2  Transit Operator                 1             46   2.17

#  Employee With Lowest Pay

Find the employee who earned the lowest total payment with benefits from a list of employees who earned more from other payments compared to their base pay. Output the first name of the employee along with the corresponding total payment with benefits.

In [13]:
q[q.basepay<q.otherpay].nsmallest(1,'totalpaybenefits')

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status
82,148626,Renato C Gurion,Registered Nurse,0.0,0.0,6.0,1.24,6.0,7.24,2014,NaN,San Francisco,PT

#  Find employees who earned the highest and the lowest total pay without any benefits
Find employees who earned the highest and the lowest total pay without any benefits.
Output the employee name along with the total pay.
Order records based on the total pay in descending order.

In [14]:
q[q.benefits==0].iloc[[0,-1],]

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status
10,110441,Maria E Zuniga,Transit Operator,NaN,0.0,114.54,0.0,114.54,114.54,2013,NaN,San Francisco,NaN
159,109353,Elizabeth M Leahy,Firefighter,NaN,0.0,1886.38,0.0,1886.38,1886.38,2013,NaN,San Francisco,NaN

# Highest And Lowest Paying Jobs


Find the ratio and the difference between the highest and lowest total pay for each job title. Output the job title along with the corresponding difference, ratio, highest total pay, and the lowest total pay. Sort records based on the ratio in descending order.

In [15]:
q1=(q.groupby('jobtitle').totalpay.max() / q.groupby('jobtitle').totalpay.min()).reset_index().merge((q.groupby('jobtitle').totalpay.max() - q.groupby('jobtitle').totalpay.min()),on='jobtitle',suffixes=('_ratio', '_diff'))

In [16]:
# Replace inf with Zero in dataframe
q1.replace([np.inf,-np.inf],0,inplace=True)

In [17]:
q_max=q.groupby('jobtitle').totalpay.max()
q_min=q.groupby('jobtitle').totalpay.min()
pd.merge(q_max,q_min,on='jobtitle',suffixes=('_max', '_min')).merge(q1,on='jobtitle').sort_values(by='totalpay_ratio',ascending=False)

,jobtitle,totalpay_max,totalpay_min,totalpay_ratio,totalpay_diff
18,Special Nurse,2012.15,37.36,53.858405,1974.79
13,Public Svc Aide-Public Works,4511.81,107.36,42.025056,4404.45
5,Firefighter,23757.50,688.71,34.495651,23068.79
3,Eligibility Worker,39666.28,1508.80,26.289952,38157.48
1,Deputy Sheriff,102504.84,11175.91,9.171946,91328.93
12,Public Service Trainee,1121.28,182.58,6.141308,938.70
2,EMT/Paramedic/Firefighter,106319.44,31756.92,3.347914,74562.52
6,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,230827.12,2.458963,336768.31
0,CAPTAIN III (POLICE DEPARTMENT),297608.92,192914.50,1.542699,104694.42
4,Estate Investigator,82901.08,61850.57,1.340345,21050.51
17,Sergeant 3,152848.56,137510.73,1.111539,15337.83
9,Junior Administrative Analyst,56813.75,53190.53,1.068118,3623.22
15,SENIOR PHYSICIAN SPECIALIST,178760.58,178760.58,1.000000,0.00
16,Senior Eligibility Worker,69590.30,69590.30,1.000000,0.00
10,LIBRARY PAGE,17064.42,17064.42,1.000000,0.00
11,PS Aide Health Services,8928.12,8928.12,1.000000,0.00
8,IS Programmer Analyst-Senior,72045.40,72045.40,1.000000,0.00
7,IS Programmer Analyst,67667.55,67667.55,1.000000,0.00
14,Registered Nurse,66289.30,0.00,0.000000,66289.30
19,Transit Operator,27597.82,0.00,0.000000,27597.82

# Above Average But Not At The Top

Find all people who earned more than the average in 2013 for their designation but were not amongst the top 5 earners for their job title. Use the totalpay column to calculate total earned and output the employee name(s) as the result.

In [18]:
# find the average earning in 2013
q[q['year']==2013]['totalpaybenefits'].mean()

29170.452115384607

In [19]:
# find the employee  whose earning is greater than average earning of 2013
q.loc[(q['totalpaybenefits']>q[q['year']==2013]['totalpaybenefits'].mean())&(q['year']==2013),['id','employeename','jobtitle','totalpaybenefits']].sort_values(by='totalpaybenefits',ascending=False)

,id,employeename,jobtitle,totalpaybenefits
65,76558,Kathryn Waaland,Sergeant 3,189864.25
30,83706,Donald V Ortiz,Deputy Sheriff,134987.81
150,84282,Jared F Cooper,EMT/Paramedic/Firefighter,132354.45
187,85769,Patrick T Truong,Deputy Sheriff,125480.95
172,87033,Robert J Loberg,Deputy Sheriff,119079.59
4,87502,Jason L Landivar,EMT/Paramedic/Firefighter,116936.65
179,88467,Grace Lin,Estate Investigator,113066.80
113,97613,Natalia Y Castillo Villegas,Junior Administrative Analyst,80020.19
170,97623,Francis J Monsada,Junior Administrative Analyst,79948.20
111,100543,Kenia C Coronado,Eligibility Worker,55429.49
92,101991,Tretha T Stroughter,Eligibility Worker,38346.82
107,102042,Mary R Carr,Eligibility Worker,37903.05
96,102585,Arturo Galarza,Eligibility Worker,32276.85
34,102647,Alvin Sosa,Transit Operator,31625.88
131,102861,Jeanne M D'Arcy,Registered Nurse,29212.95

In [20]:
# above average but not at the top 5
q.loc[(q['totalpaybenefits']>q[q['year']==2013]['totalpaybenefits'].mean())&(q['year']==2013),['id','employeename','jobtitle','totalpaybenefits']].sort_values(by='totalpaybenefits',ascending=False).iloc[5:,:]

,id,employeename,jobtitle,totalpaybenefits
4,87502,Jason L Landivar,EMT/Paramedic/Firefighter,116936.65
179,88467,Grace Lin,Estate Investigator,113066.80
113,97613,Natalia Y Castillo Villegas,Junior Administrative Analyst,80020.19
170,97623,Francis J Monsada,Junior Administrative Analyst,79948.20
111,100543,Kenia C Coronado,Eligibility Worker,55429.49
92,101991,Tretha T Stroughter,Eligibility Worker,38346.82
107,102042,Mary R Carr,Eligibility Worker,37903.05
96,102585,Arturo Galarza,Eligibility Worker,32276.85
34,102647,Alvin Sosa,Transit Operator,31625.88
131,102861,Jeanne M D'Arcy,Registered Nurse,29212.95

# Highest Paid City Employees
Find the top 2 highest paid City employees for each job title. Output the job title along with the corresponding highest and second-highest paid employees.

In [21]:
# find the rank of totalpaybenefits of each jobtitles
q['rank_totalpaybenefits']=q.groupby('jobtitle')['totalpaybenefits'].rank(method='min',ascending=False)

In [22]:
q.loc[(q['rank_totalpaybenefits']<3),['employeename','jobtitle','totalpaybenefits','rank_totalpaybenefits']].sort_values(by=['jobtitle','totalpaybenefits'],ascending=[1,0])

,employeename,jobtitle,totalpaybenefits,rank_totalpaybenefits
195,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),297608.92,1.0
197,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),238551.88,2.0
55,Lance A Obtinalla Jr,Deputy Sheriff,137519.28,1.0
73,Arnel Maracha,Deputy Sheriff,137235.94,2.0
58,Alexander M Lamond,EMT/Paramedic/Firefighter,139818.10,1.0
0,Teresa L Cavanaugh,EMT/Paramedic/Firefighter,139524.66,2.0
111,Kenia C Coronado,Eligibility Worker,55429.49,1.0
92,Tretha T Stroughter,Eligibility Worker,38346.82,2.0
41,Andrew G Chen,Estate Investigator,113849.01,1.0
179,Grace Lin,Estate Investigator,113066.80,2.0
3,Gregory B Bovo,Firefighter,33739.71,1.0
56,Ryan C Crow,Firefighter,33739.71,1.0
194,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,1.0
193,EDWARD REISKIN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,230827.12,2.0
175,Dennis J Gerbino,IS Programmer Analyst,96972.32,1.0
180,Clark Bell,IS Programmer Analyst-Senior,95399.50,1.0
76,Melinda Wong,Junior Administrative Analyst,81039.65,1.0
113,Natalia Y Castillo Villegas,Junior Administrative Analyst,80020.19,2.0
182,LEA YAMAGATA,LIBRARY PAGE,17064.42,1.0
177,Nina Davis,PS Aide Health Services,9694.34,1.0
1,Ray Torres,Public Service Trainee,1307.05,1.0
162,Alondra Correa Almanza,Public Service Trainee,1117.70,2.0
178,Pecola Jones,Public Svc Aide-Public Works,4972.34,1.0
137,Roy Hill,Public Svc Aide-Public Works,2684.01,2.0
11,Sara Paredes,Registered Nurse,89513.97,1.0
191,Emilia C Patrick,Registered Nurse,87357.27,2.0
181,YEVA JOHNSON,SENIOR PHYSICIAN SPECIALIST,178760.58,1.0
176,Frankie Johnson,Senior Eligibility Worker,100795.02,1.0
100,Mark F Obrochta,Sergeant 3,195887.06,1.0
65,Kathryn Waaland,Sergeant 3,189864.25,2.0
35,Ernanie Rasquero,Special Nurse,2739.94,1.0
26,Paul J Ortiz,Special Nurse,2463.16,2.0
148,Merter Bozkurt,Transit Operator,43295.64,1.0
122,Matthew Lu,Transit Operator,40864.94,2.0

# Find the top 5 least paid employees for each job title

Find the top 5 least paid employees for each job title.
Output the employee name, job title and total pay with benefits for the first 5 least paid employees. Avoid gaps in ranking.

In [23]:
# find the rank of totalpaybenefits of each jobtitles
q['rank_totalpaybenefits']=q.groupby('jobtitle')['totalpaybenefits'].rank(method='min',ascending=True)

In [24]:
q.loc[(q['rank_totalpaybenefits']<6),['employeename','jobtitle','totalpaybenefits','rank_totalpaybenefits']].sort_values(by=['jobtitle','totalpaybenefits'],ascending=[1,0])

,employeename,jobtitle,totalpaybenefits,rank_totalpaybenefits
195,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),297608.92,5.0
197,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),238551.88,4.0
198,DOUGLAS MCEACHERN,CAPTAIN III (POLICE DEPARTMENT),196494.14,3.0
199,JOHN LOFTUS,CAPTAIN III (POLICE DEPARTMENT),192951.37,2.0
196,TERESA BARRETT,CAPTAIN III (POLICE DEPARTMENT),192914.50,1.0
157,Aaron Schmidt,Deputy Sheriff,124012.63,5.0
94,Sarah Silva,Deputy Sheriff,123079.67,4.0
141,Richard Kendall,Deputy Sheriff,122344.80,3.0
172,Robert J Loberg,Deputy Sheriff,119079.59,2.0
47,Brian E Oconnor,Deputy Sheriff,11175.91,1.0
136,Christina A Couch,EMT/Paramedic/Firefighter,48397.69,5.0
145,Neal K Rodil,EMT/Paramedic/Firefighter,47402.38,4.0
104,Emily Anderson,EMT/Paramedic/Firefighter,45310.01,3.0
14,Sherry Mahoney,EMT/Paramedic/Firefighter,43766.89,2.0
20,Seaborn Chiles,EMT/Paramedic/Firefighter,43628.56,1.0
120,Heather E Gutierres,Eligibility Worker,6339.27,5.0
71,Mandisa Mabrey,Eligibility Worker,3572.42,4.0
130,Melinda Kuoch,Eligibility Worker,2439.06,3.0
106,Claire M Leflore,Eligibility Worker,2013.94,2.0
116,Shickola Ricks,Eligibility Worker,1634.69,1.0
41,Andrew G Chen,Estate Investigator,113849.01,4.0
179,Grace Lin,Estate Investigator,113066.80,3.0
186,Patrick Martinez,Estate Investigator,110648.97,2.0
45,Denise Alexander,Estate Investigator,92145.70,1.0
3,Gregory B Bovo,Firefighter,33739.71,4.0
56,Ryan C Crow,Firefighter,33739.71,4.0
128,Ernest E Hayles,Firefighter,15752.32,3.0
159,Elizabeth M Leahy,Firefighter,1886.38,2.0
15,Kari A Johnson,Firefighter,832.10,1.0
194,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,2.0
193,EDWARD REISKIN,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,230827.12,1.0
175,Dennis J Gerbino,IS Programmer Analyst,96972.32,1.0
180,Clark Bell,IS Programmer Analyst-Senior,95399.50,1.0
76,Melinda Wong,Junior Administrative Analyst,81039.65,3.0
113,Natalia Y Castillo Villegas,Junior Administrative Analyst,80020.19,2.0
170,Francis J Monsada,Junior Administrative Analyst,79948.20,1.0
182,LEA YAMAGATA,LIBRARY PAGE,17064.42,1.0
177,Nina Davis,PS Aide Health Services,9694.34,1.0
25,Eric J Chen,Public Service Trainee,844.14,5.0
184,Patrick F Mcpartland,Public Service Trainee,506.14,4.0
115,Darrel A Lachapelle,Public Service Trainee,323.20,3.0
9,Sophia Wu,Public Service Trainee,298.36,2.0
156,Jimmy Tang,Public Service Trainee,184.41,1.0
7,Jose F Granados,Public Svc Aide-Public Works,667.81,5.0
142,Marcus Duty,Public Svc Aide-Public Works,578.19,4.0
174,Silas D Moultrie Jr,Public Svc Aide-Public Works,322.21,3.0
23,Andre Thomas,Public Svc Aide-Public Works,172.13,2.0
126,Brighton M Leung,Public Svc Aide-Public Works,108.43,1.0
81,Robert Martinez,Registered Nurse,9969.11,5.0
51,Joann G Siobal,Registered Nurse,7959.18,4.0
90,Leanne Abrigo Johnson,Registered Nurse,4891.07,3.0
8,Linda Pizzorno,Registered Nurse,1025.65,2.0
82,Renato C Gurion,Registered Nurse,7.24,1.0
181,YEVA JOHNSON,SENIOR PHYSICIAN SPECIALIST,178760.58,1.0
176,Frankie Johnson,Senior Eligibility Worker,100795.02,1.0
16,Joseph M Salazar,Sergeant 3,186630.42,5.0
43,Melonee Alvarez,Sergeant 3,186535.52,4.0
28,Steven Stocker,Sergeant 3,186479.79,3.0
83,Omar Bueno,Sergeant 3,185627.05,2.0
188,Patrick Kennedy,Sergeant 3,177603.94,1.0
153,Graciela M Arevalo,Special Nurse,350.39,5.0
149,Connie Love-Miles,Special Nurse,332.23,4.0
146,Blesilda P Huypungco,Special Nurse,137.94,3.0
87,Vanessa E Almaguer,Special Nurse,88.18,2.0
53,Grace Salud,Special Nurse,46.27,1.0
105,Darryl L Armstrong,Transit Operator,2500.86,5.0
152,Sen Cheong Lai,Transit Operator,1164.91,4.0
154,Iris J Lett,Transit Operator,1150.71,3.0
109,Joannie Keys,Transit Operator,1127.22,2.0
10,Maria E Zuniga,Transit Operator,114.54,1.0

In [25]:
# second solution:
q1=q.groupby(['jobtitle','employeename']).totalpaybenefits.sum().reset_index()
q1['rank']=q1.groupby('jobtitle')['totalpaybenefits'].rank(method='first',ascending=True)
q1[q1['rank']<=5].iloc[:,0:3]

,jobtitle,employeename,totalpaybenefits
0,CAPTAIN III (POLICE DEPARTMENT),ANNA BROWN,238551.88
1,CAPTAIN III (POLICE DEPARTMENT),DOUGLAS MCEACHERN,196494.14
2,CAPTAIN III (POLICE DEPARTMENT),JOHN LOFTUS,192951.37
3,CAPTAIN III (POLICE DEPARTMENT),PATRICIA JACKSON,297608.92
4,CAPTAIN III (POLICE DEPARTMENT),TERESA BARRETT,192914.50
5,Deputy Sheriff,Aaron Schmidt,124012.63
7,Deputy Sheriff,Brian E Oconnor,11175.91
15,Deputy Sheriff,Richard Kendall,122344.80
17,Deputy Sheriff,Robert J Loberg,119079.59
18,Deputy Sheriff,Sarah Silva,123079.67
23,EMT/Paramedic/Firefighter,Christina A Couch,48397.69
24,EMT/Paramedic/Firefighter,Emily Anderson,45310.01
30,EMT/Paramedic/Firefighter,Neal K Rodil,47402.38
34,EMT/Paramedic/Firefighter,Seaborn Chiles,43628.56
35,EMT/Paramedic/Firefighter,Sherry Mahoney,43766.89
40,Eligibility Worker,Claire M Leflore,2013.94
42,Eligibility Worker,Heather E Gutierres,6339.27
44,Eligibility Worker,Mandisa Mabrey,3572.42
46,Eligibility Worker,Melinda Kuoch,2439.06
47,Eligibility Worker,Shickola Ricks,1634.69
49,Estate Investigator,Andrew G Chen,113849.01
50,Estate Investigator,Denise Alexander,92145.70
51,Estate Investigator,Grace Lin,113066.80
52,Estate Investigator,Patrick Martinez,110648.97
53,Firefighter,Elizabeth M Leahy,1886.38
54,Firefighter,Ernest E Hayles,15752.32
55,Firefighter,Gregory B Bovo,33739.71
56,Firefighter,Kari A Johnson,832.10
57,Firefighter,Ryan C Crow,33739.71
58,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,EDWARD REISKIN,230827.12
59,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,NATHANIEL FORD,567595.43
60,IS Programmer Analyst,Dennis J Gerbino,96972.32
61,IS Programmer Analyst-Senior,Clark Bell,95399.50
62,Junior Administrative Analyst,Francis J Monsada,79948.20
63,Junior Administrative Analyst,Melinda Wong,81039.65
64,Junior Administrative Analyst,Natalia Y Castillo Villegas,80020.19
65,LIBRARY PAGE,LEA YAMAGATA,17064.42
66,PS Aide Health Services,Nina Davis,9694.34
68,Public Service Trainee,Darrel A Lachapelle,323.20
69,Public Service Trainee,Eric J Chen,844.14
71,Public Service Trainee,Jimmy Tang,184.41
72,Public Service Trainee,Patrick F Mcpartland,506.14
74,Public Service Trainee,Sophia Wu,298.36
77,Public Svc Aide-Public Works,Andre Thomas,172.13
80,Public Svc Aide-Public Works,Brighton M Leung,108.43
88,Public Svc Aide-Public Works,Jose F Granados,667.81
91,Public Svc Aide-Public Works,Marcus Duty,578.19
96,Public Svc Aide-Public Works,Silas D Moultrie Jr,322.21
104,Registered Nurse,Joann G Siobal,7959.18
107,Registered Nurse,Leanne Abrigo Johnson,4891.07
110,Registered Nurse,Linda Pizzorno,1025.65
115,Registered Nurse,Renato C Gurion,7.24
116,Registered Nurse,Robert Martinez,9969.11
119,SENIOR PHYSICIAN SPECIALIST,YEVA JOHNSON,178760.58
120,Senior Eligibility Worker,Frankie Johnson,100795.02
121,Sergeant 3,Joseph M Salazar,186630.42
125,Sergeant 3,Melonee Alvarez,186535.52
126,Sergeant 3,Omar Bueno,185627.05
127,Sergeant 3,Patrick Kennedy,177603.94
128,Sergeant 3,Steven Stocker,186479.79
131,Special Nurse,Blesilda P Huypungco,137.94
134,Special Nurse,Connie Love-Miles,332.23
140,Special Nurse,Grace Salud,46.27
141,Special Nurse,Graciela M Arevalo,350.39
150,Special Nurse,Vanessa E Almaguer,88.18
156,Transit Operator,Darryl L Armstrong,2500.86
164,Transit Operator,Iris J Lett,1150.71
167,Transit Operator,Joannie Keys,1127.22
175,Transit Operator,Maria E Zuniga,114.54
188,Transit Operator,Sen Cheong Lai,1164.91

# Find the top 5 highest paid and top 5 least paid employees in 2012
Find the top 5 highest paid and top 5 least paid employees in 2012.
Output the employee name along with the corresponding total pay with benefits.
Sort records based on the total payment with benefits in ascending order.

In [26]:
q[q.year==2012].sort_values(by='totalpaybenefits',ascending=False).iloc[[0,1,2,3,4,-1,-2,-3,-4,-5],]

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status,rank_totalpaybenefits
164,39202,Lawrence Chan,Sergeant 3,135977.76,7718.70,7733.28,38259.83,151429.74,189689.57,2012,NaN,San Francisco,NaN,6.0
43,39456,Melonee Alvarez,Sergeant 3,135977.71,5929.86,6457.70,38170.25,148365.27,186535.52,2012,NaN,San Francisco,NaN,4.0
28,39463,Steven Stocker,Sergeant 3,135977.79,1044.00,12934.30,36523.70,149956.09,186479.79,2012,NaN,San Francisco,NaN,3.0
83,39539,Omar Bueno,Sergeant 3,135967.55,3237.59,9032.26,37389.65,148237.40,185627.05,2012,NaN,San Francisco,NaN,2.0
73,46086,Arnel Maracha,Deputy Sheriff,88374.00,0.00,12448.42,36413.52,100822.42,137235.94,2012,NaN,San Francisco,NaN,17.0
53,72890,Grace Salud,Special Nurse,0.00,0.00,37.36,8.91,37.36,46.27,2012,NaN,San Francisco,NaN,1.0
23,72720,Andre Thomas,Public Svc Aide-Public Works,155.85,0.00,2.44,13.84,158.29,172.13,2012,NaN,San Francisco,NaN,2.0
149,72603,Connie Love-Miles,Special Nurse,143.65,0.00,14.37,174.21,158.02,332.23,2012,NaN,San Francisco,NaN,4.0
147,72498,Catheryn Williams,Special Nurse,338.51,0.00,33.84,102.19,372.35,474.54,2012,NaN,San Francisco,NaN,6.0
142,72441,Marcus Duty,Public Svc Aide-Public Works,519.50,0.00,12.20,46.49,531.70,578.19,2012,NaN,San Francisco,NaN,4.0

# Find the number of police officers, firefighters, and medical staff employees
Find the number of police officers (job title contains substring police), firefighters (job title contains substring fire), and medical staff employees (job title contains substring medical) based on the employee name.
Output each job title along with the corresponding number of employees.

In [27]:
import re
q.jobtitle.unique()
q[q.jobtitle.str.contains('police|firefighter|nurse',flags=re.I,regex=True,na=False)]

,id,employeename,jobtitle,basepay,overtimepay,otherpay,benefits,totalpay,totalpaybenefits,year,notes,agency,status,rank_totalpaybenefits
0,120566,Teresa L Cavanaugh,EMT/Paramedic/Firefighter,100952.41,0.00,4254.88,34317.37,105207.29,139524.66,2014,NaN,San Francisco,PT,15.0
3,140133,Gregory B Bovo,Firefighter,23757.50,0.00,0.00,9982.21,23757.50,33739.71,2014,NaN,San Francisco,PT,4.0
4,87502,Jason L Landivar,EMT/Paramedic/Firefighter,82115.61,666.79,5220.34,28933.91,88002.74,116936.65,2013,NaN,San Francisco,NaN,9.0
8,72175,Linda Pizzorno,Registered Nurse,0.00,0.00,795.01,230.64,795.01,1025.65,2012,NaN,San Francisco,NaN,2.0
11,57726,Sara Paredes,Registered Nurse,65061.57,0.00,975.00,23477.40,66036.57,89513.97,2012,NaN,San Francisco,NaN,21.0
12,135711,Adina M Diamond,Registered Nurse,52901.45,3307.79,2286.95,19383.18,58496.19,77879.37,2014,NaN,San Francisco,PT,17.0
14,64401,Sherry Mahoney,EMT/Paramedic/Firefighter,29579.00,0.00,2402.70,11785.19,31981.70,43766.89,2012,NaN,San Francisco,NaN,2.0
15,148022,Kari A Johnson,Firefighter,688.71,0.00,0.00,143.39,688.71,832.10,2014,NaN,San Francisco,PT,1.0
18,71779,Ayala Mirande,Special Nurse,367.73,942.38,44.11,388.96,1354.22,1743.18,2012,NaN,San Francisco,NaN,18.0
20,64411,Seaborn Chiles,EMT/Paramedic/Firefighter,29579.00,551.46,1626.46,11871.64,31756.92,43628.56,2012,NaN,San Francisco,NaN,1.0
24,60447,James Lockhart,EMT/Paramedic/Firefighter,58842.00,0.00,3801.37,17031.18,62643.37,79674.55,2012,NaN,San Francisco,NaN,7.0
26,109041,Paul J Ortiz,Special Nurse,1768.55,0.00,243.60,451.01,2012.15,2463.16,2013,NaN,San Francisco,NaN,22.0
33,125043,Ryan J Jamison,EMT/Paramedic/Firefighter,81789.51,1750.43,2791.35,31039.42,86331.29,117370.71,2014,NaN,San Francisco,FT,10.0
35,71309,Ernanie Rasquero,Special Nurse,1831.80,0.00,61.06,847.08,1892.86,2739.94,2012,NaN,San Francisco,NaN,23.0
40,109107,Elizabeth J Dayrit,Special Nurse,1783.94,0.00,178.39,371.87,1962.33,2334.20,2013,NaN,San Francisco,NaN,21.0
46,71790,David Fleming,Special Nurse,1294.40,0.00,63.50,371.94,1357.90,1729.84,2012,NaN,San Francisco,NaN,17.0
49,68610,Liane Angus,Registered Nurse,9456.38,0.00,0.00,2042.66,9456.38,11499.04,2012,NaN,San Francisco,NaN,6.0
50,147868,Alma Rosa Garcia,Special Nurse,849.45,0.00,28.32,191.27,877.77,1069.04,2014,NaN,San Francisco,PT,10.0
51,106739,Joann G Siobal,Registered Nurse,NaN,0.00,0.00,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN,4.0
52,122121,Michael Mason,EMT/Paramedic/Firefighter,79486.03,11570.70,7049.80,33573.17,98106.53,131679.70,2014,NaN,San Francisco,FT,13.0
53,72890,Grace Salud,Special Nurse,0.00,0.00,37.36,8.91,37.36,46.27,2012,NaN,San Francisco,NaN,1.0
54,135574,Raffaella V Wilson,Registered Nurse,60506.68,701.61,0.00,17555.43,61208.29,78763.72,2014,NaN,San Francisco,PT,18.0
56,140150,Ryan C Crow,Firefighter,23757.50,0.00,0.00,9982.21,23757.50,33739.71,2014,NaN,San Francisco,PT,4.0
58,120469,Alexander M Lamond,EMT/Paramedic/Firefighter,80143.00,19393.40,6783.04,33498.66,106319.44,139818.10,2014,NaN,San Francisco,FT,16.0
59,147667,Justina Dizon,Special Nurse,989.10,0.00,164.85,214.11,1153.95,1368.06,2014,NaN,San Francisco,PT,13.0
63,66543,Margarita Herrera,Registered Nurse,17973.09,80.08,21.36,4245.60,18074.53,22320.13,2012,NaN,San Francisco,NaN,7.0
69,63919,Christopher Wilcox,Registered Nurse,19711.37,3004.88,16478.15,10172.15,39194.40,49366.55,2012,NaN,San Francisco,NaN,13.0
72,72067,Juliet Palarca,Special Nurse,981.72,0.00,0.00,283.60,981.72,1265.32,2012,NaN,San Francisco,NaN,12.0
74,147504,Jamie J Dwyer,Special Nurse,1285.05,0.00,63.50,324.83,1348.55,1673.38,2014,NaN,San Francisco,PT,16.0
77,122772,Graham P Hoffman,EMT/Paramedic/Firefighter,80031.97,11455.35,5163.82,31853.00,96651.14,128504.14,2014,NaN,San Francisco,FT,12.0
80,141349,Audrey Ngo,Registered Nurse,18725.55,0.00,160.31,4351.30,18885.86,23237.16,2014,NaN,San Francisco,PT,8.0
81,68980,Robert Martinez,Registered Nurse,8862.65,0.00,365.99,740.47,9228.64,9969.11,2012,NaN,San Francisco,NaN,5.0
82,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,PT,1.0
85,140237,Beverly Bagdorf,Registered Nurse,14958.86,0.00,12311.86,5538.93,27270.72,32809.65,2014,NaN,San Francisco,PT,11.0
87,110465,Vanessa E Almaguer,Special Nurse,72.98,0.00,0.00,15.20,72.98,88.18,2013,NaN,San Francisco,NaN,2.0
88,64823,Lilly Fung,Registered Nurse,28586.70,0.00,0.00,10105.75,28586.70,38692.45,2012,NaN,San Francisco,NaN,12.0
89,65683,Mo Ching Wan,Registered Nurse,22650.00,0.00,0.00,6714.77,22650.00,29364.77,2012,NaN,San Francisco,NaN,10.0
90,107962,Leanne Abrigo Johnson,Registered Nurse,4015.00,0.00,0.00,876.07,4015.00,4891.07,2013,NaN,San Francisco,NaN,3.0
93,109207,Yolanda Ramirez,Special Nurse,1505.70,0.00,239.96,383.43,1745.66,2129.09,2013,NaN,San Francisco,NaN,19.0
98,133757,Kathryn L Fowler,Registered Nurse,61942.60,0.00,1959.80,22291.87,63902.40,86194.27,2014,NaN,San Francisco,PT,19.0
104,64262,Emily Anderson,EMT/Paramedic/Firefighter,29175.65,2139.69,2169.08,11825.59,33484.42,45310.01,2012,NaN,San Francisco,NaN,3.0
118,72341,Reuben Reyes,Special Nurse,531.94,0.00,36.64,157.95,568.58,726.53,2012,NaN,San Francisco,NaN,8.0
127,138094,Nicole J Lafata Shark,EMT/Paramedic/Firefighter,40315.50,0.00,2418.93,13642.43,42734.43,56376.86,2014,NaN,San Francisco,PT,6.0
128,142597,Ernest E Hayles,Firefighter,11180.00,0.00,0.00,4572.32,11180.00,15752.32,2014,NaN,San Francisco,PT,3.0
129,109955,David A Fleming,Special Nurse,618.19,0.00,24.72,134.27,642.91,777.18,2013,NaN,San Francisco,NaN,9.0
131,102861,Jeanne M D'Arcy,Registered Nurse,5119.00,0.00,22525.52,1568.43,27644.52,29212.95,2013,NaN,San Francisco,NaN,9.0
135,135721,Mary C Huston,Registered Nurse,58997.59,50.29,1868.27,16918.73,60916.15,77834.88,2014,NaN,San Francisco,PT,16.0
136,138726,Christina A Couch,EMT/Paramedic/Firefighter,30732.00,1446.58,2370.77,13848.34,34549.35,48397.69,2014,NaN,San Francisco,PT,5.0
138,147588,Jessica H Lee,Special Nurse,1278.20,0.00,0.00,238.96,1278.20,1517.16,2014,NaN,San Francisco,PT,15.0
145,138822,Neal K Rodil,EMT/Paramedic/Firefighter,30732.00,1351.53,1480.38,13838.47,33563.91,47402.38,2014,NaN,San Francisco,PT,4.0
146,110421,Blesilda P Huypungco,Special Nurse,NaN,0.00,113.94,24.00,113.94,137.94,2013,NaN,San Francisco,NaN,3.0
147,72498,Catheryn Williams,Special Nurse,338.51,0.00,33.84,102.19,372.35,474.54,2012,NaN,San Francisco,NaN,6.0
149,72603,Connie Love-Miles,Special Nurse,143.65,0.00,14.37,174.21,158.02,332.23,2012,NaN,San Francisco,NaN,4.0
150,84282,Jared F Cooper,EMT/Paramedic/Firefighter,87205.86,2826.74,10520.93,31800.92,100553.53,132354.45,2013,NaN,San Francisco,NaN,14.0
153,110275,Graciela M Arevalo,Special Nurse,263.29,0.00,26.33,60.77,289.62,350.39,2013,NaN,San Francisco,NaN,5.0
159,109353,Elizabeth M Leahy,Firefighter,NaN,0.00,1886.38,0.00,1886.38,1886.38,2013,NaN,San Francisco,NaN,2.0
160,110036,Carla R Greenblatt,Special Nurse,494.55,0.00,49.45,108.20,544.00,652.20,2013,NaN,San Francisco,NaN,7.0
165,63024,Ying Ying Hui,Registered Nurse,39599.08,1085.78,1997.48,17396.06,42682.34,60078.40,2012,NaN,San Francisco,NaN,14.0
168,136970,Karen M Gomez,Registered Nurse,49186.88,125.89,575.00,18126.10,49887.77,68013.87,2014,NaN,San Francisco,PT,15.0
169,48564,Thomas Ro,EMT/Paramedic/Firefighter,74118.62,15060.35,7864.68,28169.55,97043.65,125213.20,2012,NaN,San Francisco,NaN,11.0
173,72081,John Donnelly,Special Nurse,930.75,0.00,31.02,270.55,961.77,1232.32,2012,NaN,San Francisco,NaN,11.0
183,147636,Russell Patrick Mangahas,Special Nurse,0.00,0.00,1153.78,277.75,1153.78,1431.53,2014,NaN,San Francisco,PT,14.0
189,109179,Emilia C Patrick,Special Nurse,1824.38,0.00,0.00,373.71,1824.38,2198.09,2013,NaN,San Francisco,NaN,20.0
190,125793,Patrick S Renshaw,EMT/Paramedic/Firefighter,72637.09,6033.40,5105.38,30691.14,83775.87,114467.01,2014,NaN,San Francisco,FT,8.0
191,133413,Emilia C Patrick,Registered Nurse,65992.60,0.00,296.70,21067.97,66289.30,87357.27,2014,NaN,San Francisco,PT,20.0
195,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN,5.0
196,371,TERESA BARRETT,CAPTAIN III (POLICE DEPARTMENT),188328.08,0.00,4586.42,NaN,192914.50,192914.50,2011,NaN,San Francisco,NaN,1.0
197,62,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),102571.24,7437.00,128543.64,NaN,238551.88,238551.88,2011,NaN,San Francisco,NaN,4.0
198,304,DOUGLAS MCEACHERN,CAPTAIN III (POLICE DEPARTMENT),194566.01,1109.10,819.03,NaN,196494.14,196494.14,2011,NaN,San Francisco,NaN,3.0
199,367,JOHN LOFTUS,CAPTAIN III (POLICE DEPARTMENT),188341.62,0.00,4609.75,NaN,192951.37,192951.37,2011,NaN,San Francisco,NaN,2.0

In [28]:
q[q.jobtitle.str.contains('police|firefighter|nurse',flags=re.I,regex=True,na=False)].groupby('jobtitle')['id'].count().reset_index().rename(columns={'id':'total_employees'})

                          jobtitle  total_employees
0  CAPTAIN III (POLICE DEPARTMENT)                5
1        EMT/Paramedic/Firefighter               16
2                      Firefighter                5
3                 Registered Nurse               21
4                    Special Nurse               23

# Make a pivot table to find the highest payment in each year for each employee

Make a pivot table to find the highest payment in each year for each employee.
Find payment details for 2011, 2012, 2013, and 2014.
Output payment details along with the corresponding employee name.
Order records by the employee name in ascending order

In [29]:
# find the highest payment in each year for each employee
q['max_totalpaybenefits']=q.groupby('year')['totalpaybenefits'].transform('max')
# sort out with this codition to find the result
q.loc[q['totalpaybenefits']==q['max_totalpaybenefits'],['id','employeename','year']].sort_values(by='employeename',ascending=True)

         id      employeename  year
65    76558  Kathryn  Waaland  2013
164   39202     Lawrence Chan  2012
100  113634   Mark F Obrochta  2014
194       1    NATHANIEL FORD  2011

In [30]:
q.pivot_table(index='employeename',columns='year',values='totalpaybenefits').sort_values(by='employeename',ascending=True)

year                              2011       2012       2013       2014
employeename
ANNA BROWN                   238551.88        NaN        NaN        NaN
Aaron Schmidt                      NaN  124012.63        NaN        NaN
Adina M Diamond                    NaN        NaN        NaN   77879.37
Alan K Tolbert                     NaN        NaN        NaN    2090.99
Alexander M Lamond                 NaN        NaN        NaN  139818.10
Alicia Brown                       NaN    2597.32        NaN        NaN
Alma Rosa Garcia                   NaN        NaN        NaN    1069.04
Alondra Correa Almanza             NaN        NaN        NaN    1117.70
Alvin  Sosa                        NaN        NaN   31625.88        NaN
Andre Thomas                       NaN     172.13        NaN        NaN
Andrew G Chen                      NaN        NaN        NaN  113849.01
Annette  Kess                      NaN        NaN   19767.18        NaN
Antionette L Riley                 NaN        NaN    2420.18        NaN
Arnel Maracha                      NaN  137235.94        NaN        NaN
Arnitial Donely                    NaN    1623.19        NaN        NaN
Arturo  Galarza                    NaN        NaN   32276.85        NaN
Audrey Ngo                         NaN        NaN        NaN   23237.16
Ayala Mirande                      NaN    1743.18        NaN        NaN
Barry Hyun                         NaN   35101.86        NaN        NaN
Ben D Malone                       NaN        NaN        NaN    8681.42
Beverly Bagdorf                    NaN        NaN        NaN   32809.65
Blesilda P Huypungco               NaN        NaN     137.94        NaN
Brian E Oconnor                    NaN        NaN   11175.91        NaN
Brighton M Leung                   NaN        NaN     108.43        NaN
Carla R Greenblatt                 NaN        NaN     652.20        NaN
Carolyn E Robinson                 NaN        NaN    8675.21        NaN
Catheryn Williams                  NaN     474.54        NaN        NaN
Ceasar Garcia                      NaN  127283.35        NaN        NaN
Christina A Couch                  NaN        NaN        NaN   48397.69
Christopher Wilcox                 NaN   49366.55        NaN        NaN
Claire M Leflore                   NaN        NaN    2013.94        NaN
Clarence Walker                    NaN    2375.72        NaN        NaN
Clark Bell                         NaN   95399.50        NaN        NaN
Connie Love-Miles                  NaN     332.23        NaN        NaN
DOUGLAS MCEACHERN            196494.14        NaN        NaN        NaN
Daniel Phillip Boutote             NaN        NaN   24378.44        NaN
Darrel A Lachapelle                NaN        NaN        NaN     323.20
Darryl L Armstrong                 NaN        NaN        NaN    2500.86
David A Fleming                    NaN        NaN     777.18        NaN
David Ayers Jr                     NaN    1560.11        NaN        NaN
David Fleming                      NaN    1729.84        NaN        NaN
Denise Alexander                   NaN   92145.70        NaN        NaN
Dennis J Gerbino                   NaN        NaN        NaN   96972.32
Dhakir R Zaki                      NaN        NaN        NaN   27572.32
Donald V Ortiz                     NaN        NaN  134987.81        NaN
EDWARD REISKIN               230827.12        NaN        NaN        NaN
Elizabeth J Dayrit                 NaN        NaN    2334.20        NaN
Elizabeth M Leahy                  NaN        NaN    1886.38        NaN
Emilia C Patrick                   NaN        NaN    2198.09   87357.27
Emily Anderson                     NaN   45310.01        NaN        NaN
Emmanuel R Borja                   NaN        NaN        NaN   19110.00
Eric J Chen                        NaN        NaN        NaN     844.14
Ernanie Rasquero                   NaN    2739.94        NaN        NaN
Ernest E Hayles                    NaN        NaN        NaN   15752.32
Fernando Barajas                   NaN    1763.67        NaN        NaN
Francis J Monsada                  NaN        NaN   79948.20        NaN
Frankie Johnson                    NaN  100795.02        NaN        NaN
George Fudge                       NaN        NaN        NaN    8308.31
George L Abrams Jr                 NaN        NaN        NaN   13713.00
Georgina M Pineda                  NaN        NaN    7959.18        NaN
Glenn Daniels                      NaN    1138.80        NaN        NaN
Grace  Lin                         NaN        NaN  113066.80        NaN
Grace Salud                        NaN      46.27        NaN        NaN
Graciela M Arevalo                 NaN        NaN     350.39        NaN
Graham P Hoffman                   NaN        NaN        NaN  128504.14
Gregory B Bovo                     NaN        NaN        NaN   33739.71
Gwen Ferdinand                     NaN    7751.47        NaN        NaN
Heather E Gutierres                NaN        NaN        NaN    6339.27
Iesha M Jones                      NaN        NaN    1558.40        NaN
Ira  Newman                        NaN        NaN    8074.90        NaN
Iris J Lett                        NaN        NaN        NaN    1150.71
Ivan Y Castillo                    NaN        NaN        NaN    1613.88
JOHN LOFTUS                  192951.37        NaN        NaN        NaN
Jack O'Sullivan                    NaN    1079.42        NaN        NaN
Jacquelyn Vassar                   NaN    6953.83        NaN        NaN
James Lockhart                     NaN   79674.55        NaN        NaN
Jamie J Dwyer                      NaN        NaN        NaN    1673.38
Jared F Cooper                     NaN        NaN  132354.45        NaN
Jarrett L Louie                    NaN        NaN        NaN    8554.71
Jason L Landivar                   NaN        NaN  116936.65        NaN
Jeanne M D'Arcy                    NaN        NaN   29212.95        NaN
Jessica H Lee                      NaN        NaN        NaN    1517.16
Jesus J Aromin                     NaN        NaN    2144.70        NaN
Jimmy Tang                         NaN        NaN        NaN     184.41
Joann G Siobal                     NaN        NaN    7959.18        NaN
Joannie Keys                       NaN    1127.22        NaN        NaN
John Donnelly                      NaN    1232.32        NaN        NaN
John Hunt                          NaN    8493.27        NaN        NaN
Jose F Granados                    NaN        NaN        NaN     667.81
Joseph M Salazar                   NaN        NaN        NaN  186630.42
Juliet Palarca                     NaN    1265.32        NaN        NaN
Justina Dizon                      NaN        NaN        NaN    1368.06
Karen M Gomez                      NaN        NaN        NaN   68013.87
Kari A Johnson                     NaN        NaN        NaN     832.10
Kathryn  Waaland                   NaN        NaN  189864.25        NaN
Kathryn L Fowler                   NaN        NaN        NaN   86194.27
Kenia C Coronado                   NaN        NaN   55429.49        NaN
Kennis Grant                       NaN    3618.66        NaN        NaN
Kevin Clark                        NaN    2542.05        NaN        NaN
LEA YAMAGATA                  17064.42        NaN        NaN        NaN
Lance A Obtinalla Jr               NaN        NaN        NaN  137519.28
Larry J Davis                      NaN        NaN        NaN   13036.05
Lawrence C Blakes Jr               NaN        NaN        NaN    8562.44
Lawrence Chan                      NaN  189689.57        NaN        NaN
Leanne Abrigo  Johnson             NaN        NaN    4891.07        NaN
Lenora  Hamilton                   NaN        NaN    3993.87        NaN
Liane Angus                        NaN   11499.04        NaN        NaN
Lilly Fung                         NaN   38692.45        NaN        NaN
Linda Edwards                      NaN   28298.63        NaN        NaN
Linda Pizzorno                     NaN    1025.65        NaN        NaN
Luana D Beavers-Deloach            NaN        NaN        NaN   13142.65
Maiza Padilla                      NaN    2371.01        NaN        NaN
Mandisa Mabrey                     NaN    3572.42        NaN        NaN
Marcus Duty                        NaN     578.19        NaN        NaN
Margarita Herrera                  NaN   22320.13        NaN        NaN
Maria E Zuniga                     NaN        NaN     114.54        NaN
Marie E Monsen                     NaN        NaN        NaN   13544.03
Mario Armbrister                   NaN        NaN        NaN    2250.06
Mark F Obrochta                    NaN        NaN        NaN  195887.06
Mary C Huston                      NaN        NaN        NaN   77834.88
Mary R Carr                        NaN        NaN   37903.05        NaN
Matthew Lu                         NaN   40864.94        NaN        NaN
Melinda  Kuoch                     NaN        NaN    2439.06        NaN
Melinda Wong                       NaN        NaN        NaN   81039.65
Melonee Alvarez                    NaN  186535.52        NaN        NaN
Merter Bozkurt                     NaN        NaN        NaN   43295.64
Michael Mason                      NaN        NaN        NaN  131679.70
Michaela T Womack                  NaN        NaN   11943.29        NaN
Miguel J Gonzalez Jr               NaN        NaN        NaN   25922.10
Mo Ching Wan                       NaN   29364.77        NaN        NaN
Monique C Jacobs                   NaN        NaN        NaN   11808.51
NATHANIEL FORD               567595.43        NaN        NaN        NaN
Natalia Y Castillo Villegas        NaN        NaN   80020.19        NaN
Neal K Rodil                       NaN        NaN        NaN   47402.38
Nicole Freeney                     NaN   22228.39        NaN        NaN
Nicole J Lafata Shark              NaN        NaN        NaN   56376.86
Niem Tran                          NaN   14982.84        NaN        NaN
Nina Davis                         NaN    9694.34        NaN        NaN
Omar Bueno                         NaN  185627.05        NaN        NaN
Orlando M Gonzalez                 NaN        NaN    2006.96        NaN
Otha Cotton                        NaN  126856.84        NaN        NaN
PATRICIA JACKSON             297608.92        NaN        NaN        NaN
Patrick Crane                      NaN  129599.94        NaN        NaN
Patrick F Mcpartland               NaN        NaN     506.14        NaN
Patrick Kennedy                    NaN        NaN        NaN  177603.94
Patrick Martinez                   NaN  110648.97        NaN        NaN
Patrick S Renshaw                  NaN        NaN        NaN  114467.01
Patrick T Truong                   NaN        NaN  125480.95  136478.65
Paul J Ortiz                       NaN        NaN    2463.16        NaN
Pecola Jones                       NaN    4972.34        NaN        NaN
Pelzie L Smith                     NaN        NaN   28403.95        NaN
Petra Hahn                         NaN  135073.93        NaN        NaN
Raffaella V Wilson                 NaN        NaN        NaN   78763.72
Ray Torres                         NaN    1307.05        NaN        NaN
Renato C Gurion                    NaN        NaN        NaN       7.24
Reuben Reyes                       NaN     726.53        NaN        NaN
Richard Kendall                    NaN  122344.80        NaN        NaN
Rizaldy T Tabada                   NaN        NaN        NaN  129071.16
Robert E Lee Jr                    NaN        NaN        NaN    8505.11
Robert J Loberg                    NaN        NaN  119079.59        NaN
Robert Martinez                    NaN    9969.11        NaN        NaN
Roy Hill                           NaN    2684.01        NaN        NaN
Russell Patrick Mangahas           NaN        NaN        NaN    1431.53
Ryan C Crow                        NaN        NaN        NaN   33739.71
Ryan J Jamison                     NaN        NaN        NaN  117370.71
Samer Bouri                        NaN    8794.53        NaN        NaN
Sara Paredes                       NaN   89513.97        NaN        NaN
Sarah Silva                        NaN  123079.67        NaN        NaN
Seaborn Chiles                     NaN   43628.56        NaN        NaN
Sedrick M Mcarthur                 NaN        NaN        NaN   36883.76
Sen Cheong  Lai                    NaN        NaN    1164.91        NaN
Sherry Mahoney                     NaN   43766.89        NaN        NaN
Shickola Ricks                     NaN    1634.69        NaN        NaN
Silas D Moultrie Jr                NaN        NaN     322.21        NaN
Sophia  Wu                         NaN        NaN     298.36        NaN
Stephen Kendall                    NaN  131854.10        NaN        NaN
Steven Stocker                     NaN  186479.79        NaN        NaN
TERESA BARRETT               192914.50        NaN        NaN        NaN
Tara A Amado                       NaN        NaN        NaN   17271.75
Teresa L Cavanaugh                 NaN        NaN        NaN  139524.66
Terri L Mathis                     NaN        NaN   12023.90        NaN
Terry L Johnson                    NaN        NaN        NaN   38919.75
Theresa Courtney                   NaN  133147.67        NaN        NaN
Thomas Ro                          NaN  125213.20        NaN        NaN
Tim C Ghigliazza                   NaN        NaN        NaN   17821.35
Tracy Y Higgins                    NaN        NaN    8014.34        NaN
Tretha T Stroughter                NaN        NaN   38346.82        NaN
Vanessa E Almaguer                 NaN        NaN      88.18        NaN
Victor N Yeung                     NaN        NaN        NaN   18175.28
Vivian A Showers                   NaN        NaN    3038.44        NaN
Wallina C Pellette                 NaN        NaN        NaN   24211.81
Willie  Daigle Jr                  NaN        NaN   11916.08        NaN
Willie Collins                     NaN    2363.91        NaN        NaN
Wing C Kwan                        NaN        NaN        NaN    5617.43
YEVA JOHNSON                 178760.58        NaN        NaN        NaN
Ying Ying Hui                      NaN   60078.40        NaN        NaN
Yolanda  Ramirez                   NaN        NaN    2129.09        NaN
Yvette R Gay                       NaN        NaN        NaN  135221.29